/* RESET */
/* RESET CAME FROM FOLLWOING LINE */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/org0hfz.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* RESET OVER */
/* removes chromes default blue border on focused inputs Work cited https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* My css */
body{
    /* background-color: #F5F7F4; */
    background-color: #696969;
}
#formButCon{
    display: flex;
    list-style-type: none;
   
}
.formBut{
    border:none;
    background-color: #ad2514;
    color:#F5F7F4;
    /* box-shadow: 0px 12px 13px 0px rgba(145,26,13,0.4); */
    /* two layers of shadow making it look better?  */
    box-shadow: 0px 5px 10px rgba(145,26,13,0.1),0px 15px 40px rgba(145,26,13,0.3);
    border-radius: .5%;
    transition:  .8s;
}

.formBut:hover{
    background-color: #CC2D18;
}
form{
    border:1px solid red;
    width:30%;
    margin: 0 auto;
    /* box-shadow: 0px 3px 5px 0px #ad2514; */
    border-radius: .5%;
}
form input{
    width:60%;
    margin-left: 10%;
    box-shadow: 0px 3px 5px 0px #ad2514;
    border-radius: .5%;
}
.link{
    font-size: 1.3rem;
    text-decoration: none;
    padding:.3rem;
    background-color: #CC2D18;
    border-radius: 2%;
    color: #F5F7F4;
    font-family: rubik;
    line-height: 39px;
    transition: .8s;
}
.link:hover{
    color:#CC2D18;
    background-color: #F5F7F4;
}
#listCon{
    /* width:100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    list-style-type: none;
   color: #F5F7F4;
   margin-top: 1rem;
   padding-left: .5rem;
   
}
#listCon li{
    text-align: center;
    margin: .8rem;
    /* background-color: #ad2614; */
}
#listCon div{
    background-color: #ff3a1f;
}
.item{
    font-family: asap;
    font-size: 1rem;
}

#formButCon{
  display: flex;
  
}
#nav{
    background-color: #ff3a20;
    box-shadow: 0px 3px 5px 0px #ad2514;
    display: flex;
    align-items: center;
}
form{
    background-color: #ff3a20;
    /* padding:2rem; */
}

#fDiv{
    padding:2rem;
}
body{
    background-color: #212121;
}
.testSwitch{
    background-color: black;
}
.formBut1{
    background-color: purple;
}
li {
  flex-grow: 1;
}
li button{
    width:100%;
    padding:.5rem;
}
input{
    padding: .9rem;
    padding-top: 1rem; 
    background-color: #ad2614;
    border:none;
    color:#F5F7F4;
    font-size: 1rem;
}
::placeholder{
    color: #F5F7F4;
    font-size: .8rem;
}
nav{
     background-color: blue;
     margin-bottom: 2rem;
     padding:.4rem;
}
nav h1{
    font-size: 2rem;
    margin-left: 10%;
}
#searchBut{
    background-color: #ad2614;
    border:none;
    color: #F5F7F4;
    font-size: 1rem;
    box-shadow: 0px 3px 5px 0px #ad2514;
    border-radius: .5%;
    transition: .8s;
}
#searchBut:hover{
    background-color: #F5F7F4;
    color: #ad2614;
}
a:visited,a{
    color:#F5F7F4;
}
form h2{
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    font-family: rubik;
    font-size: 1.3rem;
    color: #F5F7F4;
}
ul button{
    font-family: asap;
    font-size: 1.3rem;
}
.moreDetail{
    color: #F5F7F4;
}
#t li{
    font-family: asap;
    font-size: 1rem;
    word-wrap: break-word;
}
#t{
    width:33%;
}
.detailList{
    width:75%;
   /* x border:1px solid red; */
    margin: 0 auto;
    font-family: asap;
    background-color: #ad2514;
    padding: .5rem;
    box-shadow: 0px 3px 5px 0px #ad2514;
}
/* background for body when modal is up */
.swal-overlay {
    background-color: rgba(173,37,20, 0.45);
  }
/* text inside of modal */
  .swal-text{
      font-family: rubik;
      font-size: 1.2rem;
  }
.detailList li{
    margin: .5rem;
    font-family: asap;
}
.detailList h1,.detailList h2{
    font-size: 2rem;
    font-family: rubik;
}

.bio{
    line-height: 1.3rem;
}
.detailList h2{
    font-size: 1.6rem;
}
.imgCon{
    display: flex;
    
}
.imgCon img{
    margin: .5rem;
}
#hideThis{
    display: none;
}
#logo{
    color: white;
    font-family: rubik;
    /* font-size: 1.9rem; */
}
#navLink{
    text-decoration: none;
}